<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Office ANY>
<!ATTLIST Office id ID #REQUIRED>
<!ELEMENT Offices ANY>
<!ATTLIST Offices id ID #REQUIRED>
<!ELEMENT Software ANY>
<!ATTLIST Software id ID #REQUIRED>
<!ELEMENT Softwareapplication ANY>
<!ATTLIST Softwareapplication id ID #REQUIRED>
<!ELEMENT Staff ANY>
<!ATTLIST Staff id ID #REQUIRED>
<!ELEMENT Staffmember ANY>
<!ATTLIST Staffmember id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-24T11:14:18" updateDate="2015-04-27T15:09:12" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1048" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="1047" nodeTypeAlias="Home">
    <Software id="1077" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2015-04-27T12:41:05" updateDate="2015-04-27T12:41:05" nodeName="Software" urlName="software" path="-1,1056,1077" isDoc="" nodeType="1075" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="1074" nodeTypeAlias="Software">
      <metaTagDescription><![CDATA[Software applications developed and maintained by the Finance Information Technology Department at Virginia Tech.]]></metaTagDescription>
      <headline><![CDATA[Software]]></headline>
      <includeInNavigation>1</includeInNavigation>
      <Softwareapplication id="1078" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2015-04-27T13:15:48" updateDate="2015-04-27T13:15:48" nodeName="FacSal" urlName="facsal" path="-1,1056,1077,1078" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[FacSal]]></name>
        <url><![CDATA[merit15.obfp.vt.edu]]></url>
      </Softwareapplication>
      <Softwareapplication id="1079" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2015-04-27T13:16:12" updateDate="2015-04-27T13:16:12" nodeName="Foundation Portal" urlName="foundation-portal" path="-1,1056,1077,1079" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[Foundation Portal]]></name>
        <url><![CDATA[foundation.vpfin.vt.edu]]></url>
      </Softwareapplication>
      <Softwareapplication id="1080" parentID="1077" level="3" creatorID="0" sortOrder="2" createDate="2015-04-27T13:17:27" updateDate="2015-04-27T13:17:27" nodeName="Hokie Swap" urlName="hokie-swap" path="-1,1056,1077,1080" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[Hokie Swap]]></name>
        <url><![CDATA[hokieswap.vt.edu]]></url>
        <tutorialUrl><![CDATA[https://youtu.be/xSJ4EP_A-1A]]></tutorialUrl>
      </Softwareapplication>
      <Softwareapplication id="1081" parentID="1077" level="3" creatorID="0" sortOrder="3" createDate="2015-04-27T13:18:10" updateDate="2015-04-27T13:18:10" nodeName="ETF Request" urlName="etf-request" path="-1,1056,1077,1081" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[ETF Request]]></name>
        <url><![CDATA[https://www.apps.obfp.vt.edu/etf_request/login.aspx?application_code=ETF]]></url>
      </Softwareapplication>
      <Softwareapplication id="1082" parentID="1077" level="3" creatorID="0" sortOrder="4" createDate="2015-04-27T13:18:33" updateDate="2015-04-27T13:18:33" nodeName="ETF Tracker" urlName="etf-tracker" path="-1,1056,1077,1082" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[ETF Tracker]]></name>
        <url><![CDATA[https://www.apps.obfp.vt.edu/etf_tracker/login.aspx]]></url>
      </Softwareapplication>
      <Softwareapplication id="1083" parentID="1077" level="3" creatorID="0" sortOrder="5" createDate="2015-04-27T13:19:20" updateDate="2015-04-27T13:19:20" nodeName="Financial Sourcebook" urlName="financial-sourcebook" path="-1,1056,1077,1083" isDoc="" nodeType="1076" creatorName="Chris Sherman" writerName="Chris Sherman" writerID="0" template="0" nodeTypeAlias="Softwareapplication">
        <name><![CDATA[Financial Sourcebook]]></name>
        <url><![CDATA[http://www.obfp.vt.edu/sourcebook]]></url>
      </Softwareapplication>
    </Software>
    <metaTagDescription><![CDATA[Home of the Finance Information Technology department at Virginia Tech. Our office anticipates and responds effectively with innovative, reliable, and secure technological and decision support services to advance Virginia Tech and the state of education in the Commonwealth and beyond.]]></metaTagDescription>
    <headline><![CDATA[Finance Information Technology]]></headline>
    <includeInNavigation>1</includeInNavigation>
    <siteName><![CDATA[Finance IT]]></siteName>
    <contactEmail><![CDATA[supportvpf@vt.edu]]></contactEmail>
    <organizationSummary><![CDATA[<p>Finance Information Technology anticipates and responds effectively with innovative, reliable, and secure technological and decision support services to advance Virginia Tech and the state of education in the Commonwealth and beyond.</p>
<h3>Vision</h3>
<ul>
<li>Finance Information Technology is committed to supporting and enhancing the university core missions of teaching, learning, research and outreach through effective deployment of quality technological services</li>
<li>We embrace a culture of service in the spirit of the university motto, “Ut Prosim” (That I May Serve)</li>
<li>We collaborate well in the design, development, and maintenance of a secure and reliable technical infrastructure and in our provision of technology tools and training that meets the information technology needs of students, faculty, and staff as they pursue their educational and professional goals</li>
<li>We foster an environment of personal growth which respects and values the input of all members of the Virginia Tech community as outlined in the “Virginia Tech Principles of Community”</li>
</ul>]]></organizationSummary>
    <largeImage><![CDATA[/media/1003/vpf-large-banner.jpg]]></largeImage>
    <mediumImage><![CDATA[/media/1004/vpf-medium-banner.jpg]]></mediumImage>
    <smallImage><![CDATA[/media/1005/vpf-small-banner.jpg]]></smallImage>
    <bannerTagline><![CDATA[Delivering innovative solutions to challenging problems]]></bannerTagline>
    <bannerHeading><![CDATA[Virginia Tech]]></bannerHeading>
    <bannerSubHeading><![CDATA[Finance Information Technology]]></bannerSubHeading>
    <ctaHeading><![CDATA[Questions?]]></ctaHeading>
    <ctaHeadingEmphasis><![CDATA[Contact us]]></ctaHeadingEmphasis>
    <callToAction><![CDATA[<p>For direct inquiries or to find out more about how the Finance Information Technology supports the Vice President for Finance at Virginia Tech, <a href="mailto:supportvpf@vt.edu?subject=Vice President for Finance | Contact Us">contact us</a> today.</p>]]></callToAction>
    <contactPhone><![CDATA[(540) 231-6419]]></contactPhone>
    <address><![CDATA[<p>Finance Information Technology<br />322 Burruss Hall, Virginia Tech<br />800 Drillfield Drive<br />Blacksburg, VA 24061</p>]]></address>
  </Home>
</root>